<h1> Data Science Tools and Ecosystem <h/>

In this notebook, Data Science Tools and Ecosystem are summarized. My journey as a Data Scientist begins!

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Ruby
4. Scala
5. SQL

Some of the commonly used libraries used by Data Scientists include:
    ordered list
    1. Keras
    2. NumPy
    3. Pandas
    4. SciPy
    5. SciKit-Learn
    6. Tensorflow

<h1>Table</hr>

| Data Science Tools |
|--------------------|
| Hadoop             |
| RStudio            |
| Apache Spark       |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</hr>

# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

# This will convert 200 minutes to hours by diving by 60

hours = 200/60
print (hours)

In this notebook, Data Science Tools and Ecosystem are summarized.

<h1> Objectives: <h1/>
    
    - Create a Jupyter Notebook with markdown and code cells
    - List examples of languages, libraries and tools used in Data Science
    - Share your Jupyter Notebook publicly on GitHub
    - Evaluate notebooks submitted by your peers using the provided rubric
    - Demonstrate proficiency in Data Science toolkit knowledge

<h2> Author <b> <h/>
    
    Raeon Bryan